<div [formGroup]="passwordForm" class="flex space-x-6 mb-5">
  <!-- Password Input -->
  <div class="flex-1">
    <label for="password" class="block text-sm font-medium text-gray-700"
      >Password
      <span class="text-red-600"> *</span>
    </label>
    <div class="relative mt-1">
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-gray-500"
        >
          <path
            fill-rule="evenodd"
            d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <input
        id="password"
        name="password"
        type="password"
        autocomplete="current-password"
        formControlName="password"
        class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
        placeholder="••••••••"
      />
    </div>
    <!-- User Name Validation -->
    @if (passwordForm.controls['password'].touched) {
    @if(passwordForm.controls['password'].errors?.['required']) {
    <div class="mt-2 ml-5">
      <span class="text-red-600">This is required</span>
    </div>
    } @if(passwordForm.controls['password'].errors?.['pattern']) {
    <div class="mt-2 ml-5">
      <span class="text-red-600"
        >- This is wrong format, It must contain - one Upper Case - one Lower
        Case - one Digit - one Special Character(&#64;,$,!,%,*,#,?,&,_)
      </span>
    </div>
    }@if(passwordForm.controls['password'].errors?.['minlength']) {
    <div class="mt-2 ml-5">
      <span class="text-red-600">- It must be more than 8 chars</span>
    </div>
    } }
  </div>
  <!-- Confirm Password Input -->
  <div class="flex-1">
    <label
      for="confirmPassword"
      class="block text-sm font-medium text-gray-700 mb-1"
    >
      Confirm Password <span class="text-red-600"> *</span>
    </label>
    <div class="relative">
      <div
        class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-6 text-gray-500"
        >
          <path
            fill-rule="evenodd"
            d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
            clip-rule="evenodd"
          />
        </svg>
      </div>
      <input
        id="confirmPassword"
        name="confirmPassword"
        type="password"
        autocomplete="confirmPassword"
        formControlName="confirmPassword"
        placeholder="••••••••"
        class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
      />
    </div>
    <!-- Confirm Password Validation -->
    @if (passwordForm.controls['confirmPassword'].touched) {
    @if(passwordForm.controls['confirmPassword'].errors?.['required']) {
    <div class="mt-2 ml-5">
      <span class="text-red-600">This is required</span>
    </div>
    } @if ( passwordForm.hasError('passwordMismatch') ) {
    <div class="mt-2 ml-5">
      <span class="text-red-600">Passwords do not match</span>
    </div>
    } }
  </div>
</div>
