<div class="flex w-full justify-between items-center h-screen">
  <div class="w-2/3 min-h-screen flex items-center justify-center">
    <div class="rounded-lg p-6 w-5/6">
      <div class="mb-8 text-start">
        <h1 class="font-extrabold text-gray-800 text-8xl">Welcome</h1>
        <p class="text-gray-600 text-2xl mt-2 ml-6">
          We are glad to see you joining us
        </p>
      </div>

      <!-- Social Buttons -->
      <div class="grid grid-cols-2 gap-3">
        <!-- Google -->
        <button
          type="button"
          class="w-full flex items-center justify-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50"
        >
          <svg class="h-5 w-5 mr-2" viewBox="0 0 24 24" fill="currentColor">
            <path
              d="M22.56 12.25c0-.78-.07-1.53-.2-2.25H12v4.26h5.92c-.26 1.37-1.04 2.53-2.21 3.31v2.77h3.57c2.08-1.92 3.28-4.74 3.28-8.09z"
              fill="#4285F4"
            />
            <path
              d="M12 23c2.97 0 5.46-.98 7.28-2.66l-3.57-2.77c-.98.66-2.23 1.06-3.71 1.06-2.86 0-5.29-1.93-6.16-4.53H2.18v2.84C3.99 20.53 7.7 23 12 23z"
              fill="#34A853"
            />
            <path
              d="M5.84 14.09c-.22-.66-.35-1.36-.35-2.09s.13-1.43.35-2.09V7.07H2.18C1.43 8.55 1 10.22 1 12s.43 3.45 1.18 4.93l2.85-2.22.81-.62z"
              fill="#FBBC05"
            />
            <path
              d="M12 5.38c1.62 0 3.06.56 4.21 1.64l3.15-3.15C17.45 2.09 14.97 1 12 1 7.7 1 3.99 3.47 2.18 7.07l3.66 2.84c.87-2.6 3.3-4.53 6.16-4.53z"
              fill="#EA4335"
            />
          </svg>
          Google
        </button>
        <!-- GitHub -->
        <button
          type="button"
          class="w-full flex items-center justify-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50"
        >
          <svg class="h-5 w-5 mr-2" fill="currentColor" viewBox="0 0 20 20">
            <path
              fill-rule="evenodd"
              d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.603.07-.603a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.269-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z"
              clip-rule="evenodd"
            />
          </svg>
          GitHub
        </button>
      </div>

      <!-- Sign In Link -->
      <div class="mt-6 text-center">
        <p class="text-md text-gray-700">
          Already have an account ?
          <a
            routerLink="/login"
            class="font-medium text-gray-500 hover:text-gray-700"
            >Sign in</a
          >
        </p>
      </div>

      <!-- Divider -->
      <div class="mt-6 mb-6">
        <div class="relative">
          <div class="absolute inset-0 flex items-center">
            <div class="w-full border-t border-gray-300"></div>
          </div>
          <div class="relative flex justify-center text-sm">
            <span class="px-2 text-md font-medium bg-white text-gray-500"
              >Or create new acount</span
            >
          </div>
        </div>
      </div>

      <!-- Login Form -->
      <form [formGroup]="registerReq" (ngSubmit)="onSubmit()" class="space-y-4">
        <!-- ############################################################################################# -->
        <!-- ################################Profile Picture Input######################################## -->
        <!-- ############################################################################################# -->
        <div>
          <label
            for="profilePicture"
            class="block text-sm font-medium text-gray-700 mb-1"
          >
            Profile Picture
          </label>
          <!-- Make this a flex row container -->
          <div class="flex items-center space-x-6">
            <div class="relative flex-grow max-w-lg">
              <!-- Left icon -->
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M13 10a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2H14a1 1 0 0 1-1-1Z"
                    clip-rule="evenodd"
                  />
                  <path
                    fill-rule="evenodd"
                    d="M2 6a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v12c0 .556-.227 1.06-.593 1.422A.999.999 0 0 1 20.5 20H4a2.002 2.002 0 0 1-2-2V6Zm6.892 12 3.833-5.356-3.99-4.322a1 1 0 0 0-1.549.097L4 12.879V6h16v9.95l-3.257-3.619a1 1 0 0 0-1.557.088L11.2 18H8.892Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>

              <!-- Hidden native input -->
              <input
                id="profilePicture"
                name="profilePicture"
                type="file"
                accept="image/*"
                (change)="onFileSelected($event)"
                class="absolute inset-0 opacity-0 z-10 cursor-pointer"
              />

              <!-- Visible styled input with right button -->
              <div
                class="flex items-center bg-gray-200 border border-gray-300 rounded-full shadow-sm text-gray-700 pl-10 pr-3 py-4"
              >
                <span class="flex-grow truncate">
                  {{ selectedFileName || "Choose an image..." }}
                </span>
                <label
                  for="profilePicture"
                  class="ml-4 inline-block py-2 px-4 rounded-full bg-black text-white text-sm font-semibold cursor-pointer hover:bg-gray-800"
                >
                  Upload
                </label>
              </div>
            </div>

            <!-- Image preview on the same row -->
            @if (previewUrl) {
            <div class="flex flex-col items-center">
              <p class="text-sm text-gray-600 mb-2 whitespace-nowrap">
                Preview:
              </p>
              <img
                [src]="previewUrl"
                alt="Preview"
                class="w-32 h-32 object-cover rounded-full border border-gray-300"
              />
            </div>
            }
          </div>
        </div>
        <!-- ############################################################################################# -->
        <!-- ################################Full name Input############################################## -->
        <!-- ############################################################################################# -->
        <div class="flex space-x-6">
          <!-- First Name Input -->
          <div class="flex-1">
            <label
              for="firstName"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              First Name
              <span class="text-red-600"> *</span>
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M6 6h8m-8 4h12M6 14h8m-8 4h12"
                  />
                </svg>
              </div>
              <input
                id="firstName"
                name="firstName"
                type="text"
                autocomplete="firstName"
                formControlName="firstName"
                placeholder="First Name"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>
            <!-- First Name Validation -->
            @if (registerReq.controls['firstName'].touched) {
            @if(registerReq.controls['firstName'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } @if(registerReq.controls['firstName'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is wrong format</span>
            </div>
            } }
          </div>

          <!-- Middle Name Input -->
          <div class="flex-1">
            <label
              for="middleName"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              Middle Name
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M8 6h8M6 10h12M8 14h8M6 18h12"
                  />
                </svg>
              </div>
              <input
                id="middleName"
                name="middleName"
                type="text"
                autocomplete="middleName"
                formControlName="middleName"
                placeholder="Middle Name"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>
          </div>

          <!-- Last Name Input -->
          <div class="flex-1">
            <label
              for="lastName"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              Last Name
              <span class="text-red-600"> *</span>
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    stroke="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M18 6h-8m8 4H6m12 4h-8m8 4H6"
                  />
                </svg>
              </div>
              <input
                id="lastName"
                name="lastName"
                type="text"
                autocomplete="lastName"
                formControlName="lastName"
                placeholder="Last Name"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>
            <!-- Last Name Validation -->
            @if (registerReq.controls['lastName'].touched) {
            @if(registerReq.controls['lastName'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } @if(registerReq.controls['lastName'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is wrong format</span>
            </div>
            } }
          </div>
        </div>
        <!-- ############################################################################################# -->
        <!-- ################################User Name Input############################################## -->
        <!-- ############################################################################################# -->
        <div>
          <label
            for="userName"
            class="block text-sm font-medium text-gray-700 mb-1"
            >User Name
            <span class="text-red-600"> *</span>
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <svg
                class="w-6 h-6 text-gray-800 dark:text-white"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                fill="currentColor"
                class="size-6 text-gray-500"
                viewBox="0 0 24 24"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M18 6H6m12 4H6m12 4H6m12 4H6"
                />
              </svg>
            </div>
            <input
              id="userName"
              name="userName"
              type="text"
              autocomplete="userName"
              formControlName="userName"
              placeholder="User Name"
              class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
            />
          </div>
        </div>
        <!-- User Name Validation -->
        @if (registerReq.controls['userName'].touched) {
        @if(registerReq.controls['userName'].errors?.['required']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">This is required</span>
        </div>
        } @if(registerReq.controls['userName'].errors?.['pattern']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">This is wrong format</span>
        </div>
        }@if(registerReq.controls['userName'].errors?.['minlength']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">It must be more than 3 chars</span>
        </div>
        }@if(registerReq.controls['userName'].errors?.['maxlength']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">It must be more than 20 chars</span>
        </div>
        } }
        <!-- ############################################################################################# -->
        <!-- ################################Email Input################################################## -->
        <!-- ############################################################################################# -->
        <div>
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 mb-1"
            >Email
            <span class="text-red-600"> *</span>
          </label>
          <div class="relative">
            <div
              class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
                class="size-6 text-gray-500"
              >
                <path
                  fill-rule="evenodd"
                  d="M7.5 6a4.5 4.5 0 1 1 9 0 4.5 4.5 0 0 1-9 0ZM3.751 20.105a8.25 8.25 0 0 1 16.498 0 .75.75 0 0 1-.437.695A18.683 18.683 0 0 1 12 22.5c-2.786 0-5.433-.608-7.812-1.7a.75.75 0 0 1-.437-.695Z"
                  clip-rule="evenodd"
                />
              </svg>
            </div>
            <input
              id="username"
              name="username"
              type="username"
              autocomplete="username"
              formControlName="email"
              placeholder="your@email.com"
              class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
            />
          </div>
        </div>

        <!-- Email Validation -->
        @if (registerReq.controls['email'].touched) {
        @if(registerReq.controls['email'].errors?.['required']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">This is required</span>
        </div>
        } @if(registerReq.controls['email'].errors?.['email']) {
        <div class="mt-2 ml-5">
          <span class="text-red-600">This is wrong format</span>
        </div>
        } }
        <!-- ############################################################################################# -->
        <!-- ################################Password Input############################################### -->
        <!-- ############################################################################################# -->
        <div class="flex space-x-6">
          <!-- Password Input -->
          <div class="flex-1">
            <label
              for="password"
              class="block text-sm font-medium text-gray-700"
              >Password
              <span class="text-red-600"> *</span>
            </label>
            <div class="relative mt-1">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="password"
                name="password"
                type="password"
                autocomplete="current-password"
                formControlName="password"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
                placeholder="••••••••"
              />
            </div>
            <!-- User Name Validation -->
            @if (registerReq.controls['password'].touched) {
            @if(registerReq.controls['password'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } @if(registerReq.controls['password'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600"
                >- This is wrong format, It must contain - one Upper Case - one
                Lower Case - one Digit - one Special
                Character(&#64;,$,!,%,*,#,?,&,_)
              </span>
            </div>
            }@if(registerReq.controls['password'].errors?.['minlength']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">- It must be more than 8 chars</span>
            </div>
            } }
          </div>
          <!-- Confirm Password Input -->
          <div class="flex-1">
            <label
              for="confirmPassword"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              Confirm Password <span class="text-red-600"> *</span>
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                >
                  <path
                    fill-rule="evenodd"
                    d="M12 1.5a5.25 5.25 0 0 0-5.25 5.25v3a3 3 0 0 0-3 3v6.75a3 3 0 0 0 3 3h10.5a3 3 0 0 0 3-3v-6.75a3 3 0 0 0-3-3v-3c0-2.9-2.35-5.25-5.25-5.25Zm3.75 8.25v-3a3.75 3.75 0 1 0-7.5 0v3h7.5Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="confirmPassword"
                name="confirmPassword"
                type="password"
                autocomplete="confirmPassword"
                formControlName="confirmPassword"
                placeholder="••••••••"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>
            <!-- Confirm Password Validation -->
            @if (registerReq.controls['confirmPassword'].touched) {
            @if(registerReq.controls['confirmPassword'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } @if ( registerReq.hasError('passwordMismatch') ) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">Passwords do not match</span>
            </div>
            } }
          </div>
        </div>
        <!-- ############################################################################################# -->
        <!-- ################################Phone Input############################################### -->
        <!-- ############################################################################################# -->
        <div class="flex space-x-6">
          <!-- Mobile Phone Input -->
          <div class="flex-1">
            <label
              for="mobilePhone"
              class="block text-sm font-medium text-gray-700"
              >Mobile number
              <span class="text-red-600"> *</span>
            </label>
            <div class="relative mt-1">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 4a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V4Zm12 12V5H7v11h10Zm-5 1a1 1 0 1 0 0 2h.01a1 1 0 1 0 0-2H12Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="mobilePhone"
                name="mobilePhone"
                type="tel"
                autocomplete="mobilePhone"
                formControlName="mobilePhone"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
                placeholder="+201*********"
              />
            </div>
            <!-- Phone Number Validation -->
            @if (registerReq.controls['mobilePhone'].touched) {
            @if(registerReq.controls['mobilePhone'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } @if(registerReq.controls['mobilePhone'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">- This is wrong format </span>
            </div>
            }}
          </div>

          <!-- Home number Input -->
          <div class="flex-1">
            <label
              for="homePhone"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              Home number
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    d="M7.978 4a2.553 2.553 0 0 0-1.926.877C4.233 6.7 3.699 8.751 4.153 10.814c.44 1.995 1.778 3.893 3.456 5.572 1.68 1.679 3.577 3.018 5.57 3.459 2.062.456 4.115-.073 5.94-1.885a2.556 2.556 0 0 0 .001-3.861l-1.21-1.21a2.689 2.689 0 0 0-3.802 0l-.617.618a.806.806 0 0 1-1.14 0l-1.854-1.855a.807.807 0 0 1 0-1.14l.618-.62a2.692 2.692 0 0 0 0-3.803l-1.21-1.211A2.555 2.555 0 0 0 7.978 4Z"
                  />
                </svg>
              </div>
              <input
                id="homePhone"
                name="homePhone"
                type="tel"
                autocomplete="homePhone"
                formControlName="homePhone"
                placeholder="+22*******"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>

            <!-- Home Number Validation -->
            @if (registerReq.controls['homePhone'].touched) {
            @if(registerReq.controls['homePhone'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">- This is wrong format </span>
            </div>
            } }
          </div>
        </div>
        <!-- ############################################################################################# -->
        <!-- ################################ID Input############################################### -->
        <!-- ############################################################################################# -->
        <div class="flex space-x-6">
          <!-- National ID Input -->
          <div class="flex-1">
            <label
              for="nationalID"
              class="block text-sm font-medium text-gray-700"
              >National ID
            </label>
            <div class="relative mt-1">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2H4Zm10 5a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm0 3a1 1 0 0 1 1-1h3a1 1 0 1 1 0 2h-3a1 1 0 0 1-1-1Zm-8-5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm1.942 4a3 3 0 0 0-2.847 2.051l-.044.133-.004.012c-.042.126-.055.167-.042.195.006.013.02.023.038.039.032.025.08.064.146.155A1 1 0 0 0 6 17h6a1 1 0 0 0 .811-.415.713.713 0 0 1 .146-.155c.019-.016.031-.026.038-.04.014-.027 0-.068-.042-.194l-.004-.012-.044-.133A3 3 0 0 0 10.059 14H7.942Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="nationalID"
                name="nationalID"
                type="number"
                autocomplete="nationalID"
                formControlName="nationalID"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
                placeholder="**************"
              />
            </div>
            <!-- National ID Validation -->
            @if (registerReq.controls['nationalID'].touched) {
            @if(registerReq.controls['nationalID'].errors?.['pattern']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">- This is wrong format </span>
            </div>
            }}
          </div>

          <!-- Date Of Birth Input -->
          <div class="flex-1">
            <label
              for="dateOfBirth"
              class="block text-sm font-medium text-gray-700 mb-1"
            >
              Date Of Birth
              <span class="text-red-600"> *</span>
            </label>
            <div class="relative">
              <div
                class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none"
              >
                <svg
                  class="w-6 h-6 text-gray-800 dark:text-white"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  fill="currentColor"
                  class="size-6 text-gray-500"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill-rule="evenodd"
                    d="M5 5a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1h1a1 1 0 0 0 1-1 1 1 0 1 1 2 0 1 1 0 0 0 1 1 2 2 0 0 1 2 2v1a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V7a2 2 0 0 1 2-2ZM3 19v-7a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2Zm6.01-6a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm-10 4a1 1 0 1 1 2 0 1 1 0 0 1-2 0Zm6 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0Zm2 0a1 1 0 1 1 2 0 1 1 0 0 1-2 0Z"
                    clip-rule="evenodd"
                  />
                </svg>
              </div>
              <input
                id="dateOfBirth"
                name="dateOfBirth"
                type="date"
                autocomplete="dateOfBirth"
                formControlName="dateOfBirth"
                class="block w-full pl-10 pr-3 py-4 bg-gray-200 border border-gray-300 rounded-full shadow-sm placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-black focus:border-black"
              />
            </div>

            <!-- Date Of Birth Validation -->
            @if (registerReq.controls['dateOfBirth'].touched) {
            @if(registerReq.controls['dateOfBirth'].errors?.['required']) {
            <div class="mt-2 ml-5">
              <span class="text-red-600">This is required</span>
            </div>
            } }
          </div>
        </div>
        <!-- ############################################################################################# -->
        <!-- ################################Submit Button################################################ -->
        <!-- ############################################################################################# -->
        <button
          type="submit"
          class="w-full flex justify-center mt-16 py-4 px-4 border border-transparent rounded-full shadow-sm text-sm font-extrabold text-white bg-black hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500"
        >
          SIGN UP
        </button>
      </form>
    </div>
  </div>

  <!-- LOGO -->
  <figure
    class="min-h-screen w-1/4 sm:w-1/2 md:w-1/3 flex flex-col justify-center items-center rounded-full transition-all duration-300 ease-in-out float-effect"
  >
    <img
      src="assets/profilepicture.png"
      alt="Portrait of Omar Ayman"
      width="100%"
      height="100%"
      class="rounded-full"
    />
  </figure>
</div>
